table {
  width: 100%;
}

.loading-spinner {
  background: #F5F5F5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-spacer {
  flex: 1 1 auto;
}

.mat-column-acoes {
  width: 150px;
  border-left: 1px solid lightgray;
  text-align: center;
}
